/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

:root {
    font-family: system-ui, sans-serif;
    font-weight: normal;
}

.container {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 5fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.header {
    background-color: red;
    grid-column: 2;
}

.nav {
    background-color: aqua;
    grid-row: 1 / span 2;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
}

.logo img {
    height: 4rem;

}

.nav-options{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 2rem;
}

.nav-options ul li {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 0.5rem;
    & img {
        height: 2rem;
    }
}




.cards {
    background-color: pink;
}